.property {
    font-weight: 600;
    text-wrap: none;
}
div {
    font-size: 14px;
}
.spelling{
    background-color: rgba(255,0,0,0.2);
}
.grammar{
    background-color: lightblue;
}
.punctuation{
    background-color: rgba(0,0,255,0.2);
}
.misused{
    background-color: rgba(0,255,0,0.2);
}
.synonyms {
    background-color: #fee481;
}
.recommendations {
    text-decoration: underline;
}