<div class="row">
    <h5>Summary</h5>
</div>
<div class="row no-gutters">
    <div class="col property">
        Document type:
    </div>
    <div class="col">
        {{documentType}}
    </div>
</div>
<div *ngIf="summary.NumOfNonEnglishSentences > 0" class="row no-gutters">
    <div class="col property">
        Sentences not in English:
    </div>
    <div class="col">
        {{summary.NumOfNonEnglishSentences}}
    </div>
</div>
<div *ngIf="summary.NumOfTooLongSentences > 0" class="row no-gutters">
    <div class="col property">
        Sentences exceeded max length:
    </div>
    <div class="col">
        {{summary.NumOfTooLongSentences}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Total corrections:
    </div>
    <div class="col">
        {{summary.NumOfCorrections}}
    </div>
</div>
<div *ngIf="summary.NumOfNonTrivialCorrections !== summary.NumOfCorrections" class="row no-gutters">
    <div class="col property">
        Total non-trivial corrections:
    </div>
    <div class="col">
        {{summary.NumOfNonTrivialCorrections}}
    </div>
</div>
<div *ngIf="summary.NumOfCorrections > 0">
    <div class="row no-gutters">
        <div class="col property">
            Corrections by type:
        </div>
    </div>
    <div *ngFor="let correctionByType of summary.CorrectionsByType | noCorrections" class="row no-gutters">
        <div class="col">
           - <span [ngClass]="correctionByType.Key | lowercase" class="ml-2">{{correctionByType.Key}}</span>:
        </div>
        <div class="col">
            {{correctionByType.Value}}
        </div>
    </div>
</div>
<div class="row no-gutters" *ngIf="summary.NumOfSynonyms > 0">
    <div class="col property">
        <span class="synonyms">Synonyms Suggestions:</span>
    </div>
    <div class="col">
        {{summary.NumOfSynonyms}}
    </div>
</div>
<div class="row no-gutters" *ngIf="summary.NumOfRecommendations > 0">
    <div class="col property recommendations">
        Recommendations:
    </div>
    <div class="col">
        {{summary.NumOfRecommendations}}
    </div>
</div>