<form (ngSubmit)="onSubmit()" #documentForm="ngForm">
    <div class="form-group row mt-3">
        <label for="apiKey" class="col-sm-1 col-form-label">API Key:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" [(ngModel)]="documentCorrectionRequest.apiKey" name="apiKey" id="apiKey"/>
        </div>
        <div class="col-auto offset-sm-4">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="prevProd" name="prevProd" id="prevProd">
                <label class="custom-control-label mr-sm-2" for="prevProd">Previous API Version</label>
            </div>
        </div>
    </div>
    <div class="form-row align-items-center mt-3">
        <div class="col-auto my-1">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="documentCorrectionRequest.generateRecommendations" name="generateRecommendations" id="generateRecommendations">
                <label class="custom-control-label mr-sm-2" for="generateRecommendations">Recommendations</label>
            </div>
        </div>
        <div class="col-auto my-1">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="documentCorrectionRequest.generateSynonyms" name="generateSynonyms" id="generateSynonyms">
                <label class="custom-control-label mr-sm-2" for="generateSynonyms">Synonyms</label>
            </div>
        </div>
        <div class="col-auto my-1">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="documentCorrectionRequest.capitalization" name="capitalization" id="capitalization">
                <label class="custom-control-label mr-sm-2" for="capitalization">Capitalization</label>
            </div>
        </div>
        <div class="col-auto my-1">
            <div class="custom-control custom-control-inline">
                <label class="mr-2 mt-2" for="lang">Language: </label>
                <select class="form-control" [(ngModel)]="documentCorrectionRequest.lang" name="lang" id="lang">
                    <option value="indifferent">Indifferent</option>
                    <option value="US">US</option>
                    <option value="UK">UK</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-row align-items-center mt-2">
        <div class="col-auto">
            <div class="custom-control custom-radio">
                <input type="radio" id="textContentType" name="contentType" class="custom-control-input" value="text/plain" [(ngModel)]="documentCorrectionRequest.contentType">
                <label class="custom-control-label" for="textContentType">Text</label>
            </div>
        </div>
    </div>
    <div class="form-row align-items-center mt-2">
        <div class="col-sm-1">
            <div class="custom-control custom-radio">
                <input type="radio" id="htmlContentType" name="contentType" class="custom-control-input" value="text/html" [(ngModel)]="documentCorrectionRequest.contentType">
                <label class="custom-control-label" for="htmlContentType">HTML</label>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="browseHtmlFile" [disabled]="documentCorrectionRequest.contentType!=='text/html'" accept=".html" (change)="onFileChange($event.target.files)">
                <label class="custom-file-label" for="browseHtmlFile">{{htmlDocumentFileName || 'Select HTML file...'}}</label>
            </div>
        </div>
    </div>
    <div class="form-row align-items-center mt-2">
        <div class="offset-sm-1 col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="URL" [(ngModel)]="htmlDocumentUrl" name="htmlDocumentUrl" [disabled]="documentCorrectionRequest.contentType!=='text/html'">
                <div class="input-group-append">
                    <button class="input-group-text" type="button" (click)="loadHtmlDocumentFromUrl(htmlDocumentUrl)" [disabled]="documentCorrectionRequest.contentType!=='text/html' || loadingHtmlFromUrl">
                        <span [hidden]="!loadingHtmlFromUrl" class="spinner-border spinner-border-sm"></span>
                        <span [hidden]="loadingHtmlFromUrl">Load From URL</span>
                        <span [hidden]="!loadingHtmlFromUrl">&nbsp;Loading...</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group mt-3">
        <textarea #text class="form-control col-sm-10" rows="8" [(ngModel)]="documentCorrectionRequest.text" name="text" id="text" [disabled]="loadingHtmlFromUrl"></textarea>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" [disabled]="correcting">
                <span [hidden]="!correcting" class="spinner-border spinner-border-sm"></span>
                <span [hidden]="correcting">Correct</span>
                <span [hidden]="!correcting">&nbsp;Correcting...</span>
            </button>
        </div>
        <div class="col-sm-2 offset-sm-7">
            <button type="button" class="btn btn-secondary btn-sm" (click)="clear(); text.focus();">Clear</button>
        </div>
    </div>


    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{errorType}}</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{errorMessage}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</form>


