<div class="row no-gutters">
    <div class="col property">
        From Index:
    </div>
    <div class="col">
        {{sentenceInfo.FromIndex}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        To Index:
    </div>
    <div class="col">
        {{sentenceInfo.ToIndex}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Length:
    </div>
    <div class="col">
        {{sentenceInfo.ToIndex - sentenceInfo.FromIndex + 1}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Is English:
    </div>
    <div class="col">
        {{sentenceInfo.IsEnglish}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Exceeded Character Limit:
    </div>
    <div class="col">
        {{sentenceInfo.ExceededCharacterLimit}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Is Part Of Long Sentence:
    </div>
    <div class="col">
        {{sentenceInfo.IsSentencePart}}
    </div>
</div>