<div class="row mt-5">
    <div class="col-auto">
        <span class="property">Sentences: </span> {{summary.NumOfSentences}}
    </div>
    <div class="col-auto">
        <span class="property">Words: </span> {{summary.NumOfWords}}
    </div>
    <div class="col-auto">
        <span class="property">Chars: </span> {{summary.NumOfChars}}
    </div>
</div>
<div class="row mt-1">
    <div class="col-auto" *ngIf="documentType === 'HTML'">
        <span class="property">Segments: </span> {{documentCorrectionResponse.GingerTheDocumentResult.Segments.length}}
    </div>
    <div class="col-auto" *ngIf="documentType === 'HTML'">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [checked]="showAllSegments" (change)="showAllSegments = !showAllSegments" id="showAllSegments">
            <label for="showAllSegments" class="form-check-label">Show all segments</label>
        </div>
    </div>
    <div class="col-auto">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [checked]="autoReplace" (change)="autoReplace = !autoReplace" id="autoReplace">
            <label for="autoReplace" class="form-check-label">Replace with suggestions</label>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-xl-6 col-sm-6">
        <div class="row">
            <div *ngIf="documentType === 'Text'" class="col">
                <div class="sentence" *ngFor="let sentence of sentences; let i = index;">
                    <a class="sentence-number" [routerLink]="" (click)="onSelectSentence(sentence)" [ngClass]="{'border border-dark': sentence === selectedSentence}">{{i+1}}.</a>&nbsp;
                    <span *ngFor="let textFragment of sentence.sentenceFragments">
                        <span [ngClass]="getStyleForTextFragment(textFragment)" (click)="onSelectTextFragment(textFragment)">{{textFragment.getText(autoReplace)}}</span>
                    </span>
                    <span class="float-right">
                    <i *ngIf="!sentence.sentenceInfo.IsEnglish" class="fas fa-globe globe-icon text-info" data-toggle="tooltip" title="Non-English sentence"></i>
                    <i *ngIf="sentence.sentenceInfo.ExceededCharacterLimit" class="fas fa-exclamation-circle text-danger" data-toggle="tooltip" title="Exceeded character limit"></i>
                    </span>
                </div>
            </div>
            <!--<iframe class="my-iframe" *ngIf="documentType === 'HTML'" [srcdoc]="text"></iframe>-->
            <div *ngIf="documentType === 'HTML'" class="col">
                <div class="segment" *ngFor="let segment of segments | segmentVisibility: showAllSegments">
                    <a class="segment-number" [routerLink]="" (click)="onSelectSegment(segment)" [ngClass]="{'border border-dark': segment === selectedSegment}">{{segment.index+1}}.</a>&nbsp;
                    <span *ngFor="let textFragment of segment.segmentFragments">
                        <span [ngClass]="getStyleForTextFragment(textFragment)" (click)="onSelectTextFragment(textFragment)">{{textFragment.getText(autoReplace)}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-auto">
                <span class="property">Execution Time: </span> {{executionTime}}ms
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-auto">
                <button class="btn btn-primary" (click)="goBack()">Back</button>
            </div>
        </div>
    </div>
    <div class="col-xl col-sm offset-sm-1 offset-xl-1 mt-n3">
        <app-sidebar [summary]="summary" [textFragment]="selectedTextFragment" [sentence]="selectedSentence" [segment]="selectedSegment" [documentType]="documentType"></app-sidebar>
    </div>
</div>