.correction {
    cursor: pointer;
}

.recommendation{
    text-decoration: underline;
    cursor: pointer;
}
.correction.spelling{
    background-color: rgba(255,0,0,0.2);
}
.correction.grammar{
    background-color: lightblue;
}
.correction.punctuation{
    background-color: rgba(0,0,255,0.2);
}
.correction.misused{
    background-color: rgba(0,255,0,0.2);
}
.correction.synonym {
    background-color: #fee481;
}
.correction.removed-word{
     text-decoration-line: line-through;
 }
.correction.removed-word.collapse{
    visibility: collapse;
}
.property{
    font-weight: 600;
}
.sentence{
    margin-bottom: 10px;
    background-color: ghostwhite;
}
.sentence-number{
    text-decoration: none;
}

.segment{
    margin-bottom: 10px;
    background-color: ghostwhite;
    word-wrap: break-word;
}
.segment-number{
    text-decoration: none;
}

.globe-icon{
    margin-right: 3px;
}

.fa-stack{
    line-height: 1.5;
}

.my-iframe{
    border: none;
    height: 500px;
    width: 100%;
}