<div class="row no-gutters">
    <div class="col property">
        From Index:
    </div>
    <div class="col">
        {{segmentInfo.FromIndex}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        To Index:
    </div>
    <div class="col">
        {{segmentInfo.ToIndex}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Length:
    </div>
    <div class="col">
        {{segmentInfo.ToIndex - segmentInfo.FromIndex + 1}}
    </div>
</div>