.spelling{
    background-color: rgba(255,0,0,0.2);
}
.grammar{
    background-color: lightblue;
}
.punctuation{
    background-color: rgba(0,0,255,0.2);
}
.misused{
    background-color: rgba(0,255,0,0.2);
}
.synonym {
    background-color: #fee481;
}
.recommendation{
    text-decoration: underline;
}