<div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" [ngClass]="getStyleForCorrection(correction)">{{correction.MistakeText}}</h5>
    </div>
    <p>
        <app-correction-detail [correction]="correction" [additionalDetails]="true"></app-correction-detail>
    </p>
</div>