<div class="sticky-top">
    <div class="mb-5">
        <app-summary-detail [summary]="summary" [documentType]="documentType"></app-summary-detail>
    </div>
    <div *ngIf="textFragment && textFragment.correction" class="mb-2">
        <div class="row">
            <h5>Correction - <span [ngClass]="getStyleForCorrection(textFragment.correction)">{{textFragment.fullCorrectionText}}</span></h5>
        </div>
        <app-correction-detail [correction]="textFragment.correction"></app-correction-detail>
    </div>
    <div *ngIf="textFragment && textFragment.recommendation" class="mb-2">
        <div class="row">
            <h5>Recommendation - <span class="recommendation">{{textFragment.fullRecommendationText}}</span></h5>
        </div>
        <app-correction-detail [correction]="textFragment.recommendation"></app-correction-detail>
    </div>
    <div *ngIf="sentence && sentence.sentenceInfo" class="mb-2">
        <div class="row">
            <h5>Sentence</h5>
        </div>
        <app-sentence-detail [sentenceInfo]="sentence.sentenceInfo"></app-sentence-detail>
    </div>
    <div *ngIf="segment && segment.segmentInfo" class="mb-2">
        <div class="row">
            <h5>Segment</h5>
        </div>
        <app-segment-detail [segmentInfo]="segment.segmentInfo"></app-segment-detail>
    </div>
</div>