<div class="row no-gutters">
    <div class="col property">
        Confidence:
    </div>
    <div class="col">
        {{toConfidence(correction.Confidence)}} ({{correction.Confidence}})
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Type:
    </div>
    <div class="col">
        {{toCorrectionType(correction.CorrectionType)}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Should Replace:
    </div>
    <div class="col">
        {{correction.ShouldReplace}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Category:
    </div>
    <div class="col">
        {{toCategory(correction.TopCategoryId)}} ({{correction.TopCategoryId}})
    </div>
</div>
<div *ngIf="correction.MistakeDefinition" class="row no-gutters">
    <div class="col property">
        Mistake Definition:
    </div>
    <div class="col">
        {{correction.MistakeDefinition}}
    </div>
</div>
<!--<div *ngIf="correction.LrnFrg" class="row no-gutters">
    <div class="col property">
        Learning Fragment:
    </div>
    <div class="col">
        {{correction.LrnFrg}}
    </div>
</div>-->
<div *ngIf="additionalDetails" class="row no-gutters">
    <div class="col property">
        From:
    </div>
    <div class="col">
        {{correction.From}}
    </div>
</div>
<div *ngIf="additionalDetails" class="row no-gutters">
    <div class="col property">
        To:
    </div>
    <div class="col">
        {{correction.To}}
    </div>
</div>
<div *ngIf="additionalDetails && correction.MistakeDefinition" class="row no-gutters">
    <div class="col property">
        Mistake Definition:
    </div>
    <div class="col">
        {{correction.MistakeDefinition}}
    </div>
</div>
<div class="row no-gutters">
    <div class="col property">
        Suggestions:
    </div>
    <div class="col" *ngIf="correction.Suggestions.length === 0">
        No suggestions
    </div>
    <div class="col" *ngIf="correction.Suggestions.length > 0">
        <div *ngFor="let suggestion of correction.Suggestions; let i = index">
            <app-suggestion-detail [correction]="correction" [suggestion]="suggestion"></app-suggestion-detail>
        </div>
    </div>
</div>