<span (click)="isCollapsed = !isCollapsed">
    <a class="mr-1" [ngClass]="{'removed-word': markAsRemoved()}" [routerLink]="">{{getText()}}</a>
    <i *ngIf="isCollapsed" class="fas fa-caret-right"></i>
    <i *ngIf="!isCollapsed" class="fas fa-caret-down"></i>
</span>
<div [hidden]="isCollapsed">
    <span class="category">{{toCategory(suggestion.CategoryId)}} ({{suggestion.CategoryId}})</span>
    <span class="definition" *ngIf="suggestion.Definition"><br>{{suggestion.Definition}}</span>
</div>